<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Individual's Competency Table</title>
  </head>

  <%- include('../partials/header') %>

  <body>
    <main>
      <h1>Welcome </h1>
      <h2><%= comp.firstname %> <%= comp.lastname %></h2>
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>
